#selfie
{
  border-radius: 20%;
  padding: 30px;
<<<<<<< HEAD
  width: 100%;
=======
  width:100%;
>>>>>>> gh-pages
}

.info
{
  color: #000;
  padding-top: 10px;
}
.big-icon
{
  font-size: 100px;
}

.goals-row img
{
  max-height: 300px;
  padding-top: 30px;
  margin:auto;
}
.goals-row p
{
  padding-top: 30px;
  padding-bottom: 60px;
  color: #000;
}
.art-paragraph
{
  padding-top: 10px;
  color: #000;
  margin:auto;
  max-width: 50%;
}

#glitchCarousel
{
  max-width: 60%;
  margin: auto;
  padding: 10px;
  height:600px;
  background-color: #000;
}

#glitchCarousel img
{
  max-height:580px;
  vertical-align: middle;
  display:inline-block;
}

#photoCarousel
{
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height:600px;
  background-color: #000;
}
#photoCarousel img
{
  max-height:580px;
  vertical-align: middle;
  display:inline-block;
}

#construction-message
{
  margin: 100px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.card
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  height: 400px;
  width: 200px;
}

#bottom-footer
{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ececec;
    color: black;
    text-align: center;
}
